<!DOCTYPE html>

<html>
    <head>
        <title>MITARBEITER BEREICH</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<?php echo CSS_PATH; ?>bootstrap.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>

        <?php
        include_once INCLUDE_ADMIN_PATH . 'menu.html';
        ?>

        <?php 

        if(!empty($template)) {
        include_once INCLUDE_ADMIN_PATH .$template;
        }        
        ?>

        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="<?php echo JS_PATH; ?>basic.js"></script>
    </body>
</html>
